<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stored Procedure Call</title>

    <style>
      table, th, td{
        border: 1px solid black;
        text-align: center;
      }
      th{
        padding: 10px;
      }
      h3{
        background: #ff87fb
      }
    </style>

  </head>
  <body>
    <h1>Press the buttons to call the stored procedures</h1>
    <h3>UPDATE [dbo].[test_store_proc] SET someData = RAND() WHERE columnID = 1</h3>
    <h3>INSERT INTO [dbo].[storedProc] (someData) VALUES(Rand())</h3>
    <p>This procedure is stored in a JSON file on the server, but it could come from anywhere</p>
    <a href="storedProcedureCalls/calls.json">Json Procedure</a>
    <p style="display: inline-block">|</p>
    <a href="https://portal.azure.com/#@rapidteksolutions.com/resource/subscriptions/ed36bbbc-64a9-4c3c-8216-6bbc3ef0d03a/resourceGroups/webappdeployment/providers/Microsoft.Sql/servers/aggregatesqlserver/databases/AGGREGATEDEVDB/queryEditor">SQL Database</a>
    <hr>

    <form method="post">
      <button name='buttonPress' value='update' style="padding: 10px;" type="submit">UPDATE</button>
      <button name='buttonPress' value='insert' style="padding: 10px;" type="submit">INSERT INTO</button>
    </form>

    <p>You might have to wait and refresh the page to see the all the values change</p>

    <table>
      <thead>
        <th>columnID</th>
        <th>someData</th>
      </thead>
      {{#each data}}
        <tr>
          <td>{{this.columnID}}</td>
          <td>{{this.someData}}</td>
        </tr>
      {{/each}}
    </table>

  </body>
</html>
